---
layout: layout
---

<div id="post-1956" class="post-1956 post type-post status-publish format-standard hentry category-dervish">
    <h1 class="entry-title">{{ title }}</h1>
    <div class="entry-meta">
        <a href="{{ page.url | url }}" rel="bookmark">
            <span class="entry-date">{{ page.date }}</span>
        </a>
        <span class="meta-prep meta-prep-author">tarihinde yayınlandı. Kategori: <a href="/category/dervish/" rel="category tag">Dervish</a></span>
    </div>
    <div class="entry-content">
        {{ content | safe }}
    </div>
</div>
